.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.target-letter {
    background-color: gold;
}
.answerBank {
    display: flex;
    justify-content: space-between;
}
.letter-buttons {
    display: flex;
}
.game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}